RewriteEngine On

RewriteBase /

RewriteCond %{QUERY_STRING} "gclid=" [NC]

RewriteRule (.*) /$1? [R=301,L,QSD]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [QSA,PT,L]

</IfModule>
